<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Address Book</title>
</head>
<body>
    <div class="container">
        <h1><img src="img/address.png" alt="an address book">Address Book</h1>
        <div class="row">
            <h2>You added a new contact!</h2>
            <div class="new-contact">
                <p>Name: {{ contact.getName }}</p>
                <p>Number: #{{ contact.getNumber}}</p>
                <p>Address: {{ contact.getAddress}}</p>
            </div>
            <form action='/' method='get'>
                <div class='text-center'>
                    <button class='btn btn-default' type='submit'>Back</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
